.header-wrapper {
  $prefix: logo;

  background-color: #222;
  height: 60px;
  padding: 0 20px;
  color: #fff;
  line-height: 60px;
  display: flex;
  justify-content: space-between;

  .#{$prefix} {
    animation: logo-spin infinite 20s linear;
    height: 40px;
    width: 40px;
    position: relative;
    top: -2px;
  }

  .#{$prefix}-title {
    font-size: 1.5em;
  }

  .toolbar {
    display: flex;
  }
}