#root,
.app-wrapper {
	height: 100%;
	width: 100%;
	background: #efefef;
	overflow: auto;
}

.app-content {
	height: calc(100% - 60px);
	width: 100%;
	padding: 16px;
	zoom: 1;
	
	&::after,
	&::before {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
		visibility: hidden;
		font-size: 0;
		height: 0;
	}

	.container {
		float: left;
		width: calc(100% - 116px);
		height: 100%;
		background: #fff;
		padding: 16px;
	}
	overflow: auto;
}