html, body {
  height: 100%;
  width: 100%;
}

// * {
//   box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   -webkit-box-sizing: border-box;
// }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, a:focus {
  text-decoration: none !important;
}

:focus {
  outline: 0;
}

.hide {
  display: none;
}

.clearfix {
  zoom: 1;

  &::after,
  &::before {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
  }
}

button {
  border: none;
}

input {
  border: 1px solid #efefef;
  height: 32px;
  padding: 1px 4px;
  border-radius: 4px;
  line-height: 28px;
  width: 100%;
}