.body-wrapper {
	height: 100%;
	width: 100%;
}

.app-content {
	height: calc(100% - 60px);
	width: 100%;
	padding: 16px;
	zoom: 1;
	
	&::after,
	&::before {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
		visibility: hidden;
		font-size: 0;
		height: 0;
	}
}