@import '../../styles/variables.scss';

#header {
  $prefix: logo;
  background-color: #222;
  height: 60px;
  padding: 0 20px;
  color: white;
  line-height: 60px;

  .#{$prefix} {
    animation: logo-spin infinite 20s linear;
    height: 40px;
    width: 40px;
    position: relative;
    top: -2px;
  }

  .#{$prefix}-title {
    font-size: 1.5em;
  }

  .nav {
    float: right;
  }

  .menu {
    display: inline-block;
    padding: 0 12px;

    a {
      height: 60px;
      display: block;
      color: #fff;

      &:hover {
        color: $primary-color;
      }
    }
  }

  a.active {
    color: $primary-color;
    border-bottom: 2px solid $primary-color;
  }
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}